<div class="courses-content">
   <div style="height:100px;overflow:auto;" >
    {% for course in site.courses %}
     {% if course.author == page.author %}
       <li>
        <a href = "https://ioniodi.github.io/site1/gr/courses/{{ course.ref }}/"> {{ course.title }} </a>
       </li> 
     {% endif %}
    {% endfor %}
     {% for course in site.courses-en %}
     {% if course.author == page.author %}
       <li>
        <a href = "https://ioniodi.github.io/site1/en/courses/{{ course.ref }}/"> {{ course.title }} </a>
       </li> 
     {% endif %}
    {% endfor %}
  </div>
 </div>
